<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" href="../static/style.css" />
  <title>Phishing Link DB</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- For ip address -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <script>
    $("document").ready(function () {
      $.getJSON("https://api.ipify.org?format=json", function (data) {
        $('#ip2').ready(function () {
          $('#ip2').attr('value', data.ip);
          console.log(data.ip);
        })
      })
    })
  </script>


</head>

<body>

  <div class="container">
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Link</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth">Admin</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="">
      <div class=" ">
        <form action="/submit" method="POST">

          <div class="form-group-self ">
            <h3>Your Name</h3>
            <input type="text" name="name" " placeholder=" Please Provide Your Name" required>
          </div>

          <div class="form-group-self ">
            <h3>Email</h3>
            <input type="email" name="email" placeholder="Enter Your Email" required>
          </div>

          <div class="form-group-self ">
            <h3>Link</h3>
            <input type="text" name="link" placeholder="Add Link" required>
          </div>

          <div class="form-group-self ">
            <h3>Link Desciption</h3>
            <textarea name="describe" cols="30" rows="6" placeholder="Tell about the link"></textarea>
          </div>

          <input type="hidden" name="ip" value="" id="ip2"><br>

          <!-- <input type="submit" value="submit" class="btn" /> -->
          <div>
            <input type="submit" value="submit" class="btn-primary btn-sm">
          </div>

        </form>

      </div>
      <!-- <div class="col-3">
        <a href="/auth">
          <img src="../static/hack.jpg" alt="hack" width="300px" height="120px">
        </a>
      </div> -->
    </div>
  </div>

</body>

</html>